/*Sets the font for all text in the application*/
.site-font{
    font-family: Harrington;
}
/*Sets the background image*/
#colorization{
    background-image: url("img/note-pad.jpg");
}
/*removes the bullet points for unordered lists*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*positions the first and last names in the contact section*/
.contact-position{
    margin-left: 45px;
    margin-bottom: 40px;
    font-size: large;
    position: relative;
    top: 127px;
}
/*hover effect to indicate which contact a user is clicking on*/
.contact-position:hover{
    border-bottom: solid;
}
/*positions the contacts information*/
.information-position{
    bottom: 178px;
    margin-top: 41px;
    font-size: large;
    position: relative;
    left: 10px;
}
/**/
.information-labels{
    position: relative;
    right: 125px;
    font-size: large;
    margin-top: 42px;
    top: 86px;
}
/*positions the edit button*/
.editButtons{
    position: relative;
    top: 544px;
    right: 28px
}
/*positions the add button*/

#AddButton{
    position: relative;
    top: 284px;
    left:215px;

}
.add-buttons-positions{
  position: relative;
  top: 284px;
  left: 140px;
}
/*Positions the edit contact text input fields*/
.edit-contact-field{
    margin-bottom: 37px;
    position: relative;
    top: 116px;
    left: 40px;
}
